* {
    box-sizing: border-box;
    margin: 0px;
}

html, body {
    width: 100%;
    height: 100%;
}

.wrapper {
    width: 100%;
    height: 100%;
    padding: 20px 30px 30px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.wrapper__header {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.header__title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title {
    color: #55b2d4;
    font-size:  13px;
    font-weight: 700;
}

.subtitle {
    font-size: 8px;
    padding-left: 5px;
}

.divideLine {
    width: 100%;
    border-top: 1px solid gray;
}

.game__container {
    width: 222px;
    height: 168px;
    border-radius: 15px;
    border: 1px solid gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #F6F6F6;
}

.game__title {
    width: 44px;
    height: 15px;
    left: 505px;
    top: 203px;
    font-size: 11px;
    font-weight: bold;
    line-height: 15px;
    text-align: center;
}

.game__subtitle {
    width: 90px;
    height: 13px;
    left: 482px;
    top: 226px;
    font-size: 10px;
    line-height: 13px;
    text-align: center;
    color: #999999;
}


.word__text {
    width: 182px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.textbox {
    width: 136px;
    height: 24px;
    left: 436px;
    top: 251px;
    border-radius: 5px;   
    
}

.textbox::placeholder {
    font-size: 11px;
    font-weight: bold;
    line-height: 15px;
    color: #999999;
}

.search {
    width: 38px;
    height: 24px;
    left: 580px;
    top: 251px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    font-size: 11px;
    font-weight: bold;
    line-height: 15px;
    text-align: center;
}

#result {
    width: 60px;
    height: 15px;
    left: 514px;
    top: 286px;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    color: #999999;
}

.random__number {
    display: flex;
    justify-content: space-between;
    padding: 5px 8px;
    margin-bottom: 11px;
    margin-top: 10px;
    width: 130px;
    height: 21px;
    border: 1px solid #999999;
    border-radius: 8px;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
    color: #000000;
    background-color: #FFE400;
}

.button {
    width: 62px;
    height: 24px;
    left: 497px;
    top: 465px;
    border: 1px solid #000000;
    border-radius: 5px;
    background-color: #FFFFFF;
    font-size: 11px;
    font-weight: bold;
    line-height: 15px;
    text-align: center;
}